.bar {
  padding: 18px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--background);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
}
